@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Oda Numarası</th>
        <th>Başlık</th>
        <th>Yatak Sayısı</th>
        <th>Banyo Sayısı</th>
        <th>WiFi</th>
        <th>Fiyat</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.RoomId</th>
            <th><img src="@item.CoverImage" style="width:100px" /></th>
            <td>@item.RoomNumber</td>
            <td>@item.Title</td>
            <td>@item.BedCount</td>
            <td>@item.BathCount</td>
            <td>@item.WiFi</td>
            <td>@item.Price</td>
            <td><a href="/AdminRoom/DeleteRoom/@item.RoomId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/AdminRoom/UpdateRoom/@item.RoomId" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-secondary">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/AdminRoom/CreateRoom/" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Oda Ekle</a>

