@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Müşteri Adı</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialId</th>
            <td><img src="@item.ImageUrl" style="width:40px" /></td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-secondary">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/CreateTestimonial/" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Referans Ekle</a>
